<body>

<section>
    <section class="pricing-tier" onclick="location.href='#';">
      <h4><div align="center"><font style="font-size: 30px;","color: blue;">BUSINESS PRO</font><font color="#999"></font></div></h4>
      <h5><div align="center"><span class="plan-price"><font style="font-size: 30px;">$79</font><font style="font-size: 30px;">/mo</font></span></h5>
      <div align="center"><font style="font-size: 30px; line-height: .05; color: #888888;">or $799/yr (save $109)</font></div></div><br />
<div align="center">
 <script type="text/javascript" id='pw_5a0c9dcc4fecf' src="https://app.paywhirl.com/pw.js"></script>
<script>paywhirl('button',{autoscroll: 1, domain:'itoi' ,uuid:'08e597d8-42c8-479e-8ca8-96e71386d4e3', button_image: 'https://static1.squarespace.com/static/596e2c7bd1758e3b452081d8/t/5a0c9c9fc83025fe16df5c3f/1510775972255/getstarted1.png' },'pw_5a0c9dcc4fecf'); </script>
</div>
 
      <p class="annual-price"><div align="center"><font style="font-size: 30px; line-height: .5;">For Sole Proprietor businesses.</div></font> </p>
<ul style="list-style-type:none"><div align="center">
  <li><font color="#4282fe">✓</font>  Add images, videos, & music</li>
<li><font color="#4282fe">✓</font>  Custom script & teleprompter</li>
<li><font color="#4282fe">✓</font>  10-min published video per month</li>
<li><font color="#4282fe">✓</font>  1-click social sharing</li>
  <li><font color="#4282fe">✓</font>  Email Support</li>
  <li><font color="#4282fe">✓</font>  Credit card billing only</li>
<li><font color="#4282fe">✓</font>  Custom company logo (No iTOi Logo)</li>
<li><font color="#4282fe">✓</font>  Offline editing & external sharing</li>
</div>
</ul>  
  </section>
</section>

</body>

<%= link_to 'About', about_path %>


